[build]
  command = "npm run build"
  publish = ".next"

[functions]
  node_bundler = "esbuild"
  external_node_modules = ["@supabase/supabase-js", "csv-stringify", "zod"]

[[plugins]]
  package = "@netlify/plugin-nextjs"
